section
  width: 100%
  height: 100vh
  margin: 10px 0px 0px 0px
#repeat
  text-align: center
  // img
  //   animation: repeat 3s linear infinite
// #up
//   animation: up 1s linear
.container 
  display: flex
  width: 70%
  margin: auto
  h1
    padding: 0 100px
.left__block
  display: flex
  align-items: center

// @keyframes repeat
//   100%
//     transform: rotate(360deg)

// @keyframes up
//   0%
//     opacity: 0
//     transform: translateY(300px)
//   100%
//     opacity: 1
//     transform: translateY(0px)
    