.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*burger*/

/*.menu
  &__icon
    @media (max-width: 767px)
      position: relative
      width: 30px
      height: 18px
      cursor: pointer
      z-index: 70
      span
        transition: all 0.3s ease 0s
        top: calc(50% - 1px)
        left: 0
        position: absolute
        width: 100%
        height: 2px
        background: #bb9c66
        &:first-child
          top: 0px
        &:last-child
          top: auto
          bottom: 0px
      &.active
        z-index: 20
        span
          transform:  scale(0)
          &:first-child
            transform: rotate(-45deg)
            top: calc(50% - 1px)
          &:last-child
            transform: rotate(45deg)
            bottom: calc(50% - 1px)
        body.lock
          overflow: hidden*/

section {
  width: 100%;
  height: 100vh;
  margin: 10px 0px 0px 0px;
}

#repeat {
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
}

.container h1 {
  padding: 0 100px;
}

.left__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}